footer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2.5rem 10px;
    border-top: 1px solid #e8e8e8;

    .copyright {
        float: left;
    }

}
